*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}