.buttonBox { /* container for multiple buttons */
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.button--margin {
  margin-right: 1rem;
}

@media (max-width: 767px) {
  .button--margin {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}