.wrapper {
  /* insert body wrapper here */
}

.content {
  /* content info goes here */
}

.section {
  /* section stuff goes here */
}

.section { /* default for desktop */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* for mobile */
@media (max-width: 768px) {
  .section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}